<% include partials/head.html %>
  <body>
    <div id="primary-container">
      <div class="signin-container container-flex" style="padding: 15px">
        <div class="col-sm-6 col-md-5 col-lg-4 col-xs-12 ">
          <div class="signin-form row">
            <% include partials/logo.html %>
            <h1>Log in</h1>
            <form id="sign-in" method="post">
              <p>Not a user yet? <a href="https://snuggpro.com/signup-choose-your-path">Sign up</a>.</p>
              <% include partials/flash-error.html %>
              <% include partials/flash-alert.html %>
              <% include forms/login.html %>
            </form>
            <!-- <p>Need help? <a href="javascript:void(0);" onclick="window.Intercom('showNewMessage')">Live chat</a>.</p> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
