<script>

  (function(){
    // Create a random string
    function makeid(){
      var randomString = "";
      var possible = "abcdefghijklmnopqrstuvwxyz0123456789";
      for( var i=0; i < 8; i++ )
          randomString += possible.charAt(Math.floor(Math.random() * possible.length));
      return randomString;
    }

    // Create cookie
    function createCookie(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            expires = "; expires="+date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name+"="+value+expires+"; path=/";
    }

    // Read cookie
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1,c.length);
            }
            if (c.indexOf(nameEQ) === 0) {
                return c.substring(nameEQ.length,c.length);
            }
        }
        return null;
    }

    if (document.cookie.indexOf("uniqueString") < 0){
      createCookie("uniqueString", makeid(), 0.5)
    }

    var storedString = readCookie("uniqueString")

    window.Intercom('boot', {
    app_id: "<%= (env === 'production') ? 'mkemf73s' : 'uqbbgb7o'%>",
    email: "anon-" + storedString + "@example.com",
    name: "Anon " + storedString,
    user_id: "anon_" + storedString
  })})()
</script>
