<p>Hi <%= first_name %>,</p>
<p>Someone (hopefully you) requested a password reset. </p>
<p> If you didn’t request a password reset, just disregard this message and your password will not be changed. <p>
<br/>
<p>
  <a href="<%= password_reset_link %>" class="btn" style="padding: 15px 30px; background-color: #FDDE66; border-radius: 4px; color: #333; text-decoration: none; font-weight: bold">Reset your password</a>
</p>
<br/>
<p>Feel free to contact us if you have any questions. </p>
