<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">Good news,</h3>

<p><%= full_name %> invited you to join <%= company_name %> on Snugg Pro.</p>
<p>
  It looks like you already have a Snugg Pro account.
  You can use the same account to work across multiple companies.
  You don't have to create a new user.</p>
<p>
  Once you accept the invitation,
  the new company will appear automatically on your jobs screen and in the company settings.
</p>
<br/>
<p>
  <a href="<%= register_invited_link %>" class="btn" style="padding: 15px 30px; background-color: #FDDE66; border-radius: 4px; color: #333; text-decoration: none; font-weight: bold">Accept invite to <%= company_name %></a>
</p>
<br/>
<p>Feel free to contact us if you have any questions.</p>
