<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">Good news,</h3>
<p><%= full_name %> invited you to join <%= company_name %> on Snugg Pro.</p>
<p>Snugg Pro is a cloud-based residential energy auditing and sales tool for home performance professionals.</p>
<br/>
<p>
  <a href="<%= register_invited_link %>" class="btn" style="padding: 15px 30px; background-color: #FDDE66; border-radius: 4px; color: #333; text-decoration: none; font-weight: bold">Join <%= company_name %> on Snugg Pro</a>
</p>
<br/>
<h3 style="font-family: arial, sans-serif; font-size: 18px; font-weight: bold">Why should I Snugg Pro?</h3>

<p>Snugg Pro helps you perform audits faster. The homeowner report is compelling and helps convert more audits into upgrades.<br/>
  <a href="http://SnuggPro.com">You can learn more about Snugg Pro here.</a>
</p>
<p>Contact us if you have any questions about this email.</p>
<p>Cheers,</p>
