<div class="form-group">
  <label>Email</label>
  <input type="email" class="form-control input-lg" name="email" value="<%= flashBody('email', '')%>" required/>
</div>
<div class="form-group">
  <label style="display:block">Password   <a style="float: right;font-weight: 400; font-size: 0.95em" href="/forgot-password">Reset Password</a></label>
  <div class="form-group form-group-lg">
    <input type="password" class="form-control input-lg" name="password" autoComplete="off" required/>
  </div>
</div>
<div class="form-actions">
  <input type="submit" class="btn btn-block btn-lg btn-brand-1" value="Log into account" />
  <br/>
</div>
